{% extends 'base.html' %}

        {% block content %}

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for accounts in account_list %}
                    <tr>
                        <td>{{ accounts.name }}</td>
                        <td>{{ accounts.number }}</td>
                        <td>{{ accounts.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endblock content %}
