{% extends 'base.html' %}

    {% block content %}

          <div>
            <h1>Log In</h1>

                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
                </form>
            </div>

    {% endblock content %}
