{% extends 'base.html' %}

    {% block content %}
        <div>
            <h1>Create Receipt</h1>

                <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    {% endblock content %}
