{% extends 'base.html' %}

    {% block content %}

        <h1>My Receipts</h1>

            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchases in receipt_list %}
                    <tr>
                        <td>{{ purchases.vendor }}</td>
                        <td>{{ purchases.total }}</td>
                        <td>{{ purchases.tax }}</td>
                        <td>{{ purchases.date|date:"m-d-Y" }}</td>
                        <td>{{ purchases.category }}</td>
                        <td>{{ purchases.account }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


    {% endblock content %}
